<% if Helpers.is_logged_in?(session) %>
<div class="container">
  <div class="row mt-5 mb-3">
    <h2 class="custom-title d-flex justify-content-start">Dashboard</h2>

    <div class="col-1"></div>
    <div class="col">
      <div class="card rounded-0 mx-auto" style="max-width: fit-content">
        <div class="card-header bg-light">
          <h3>Newest Petitions</h3>
        </div>
        <div class="card-group" style="width: auto;">
          <% @user.recent_petitions.collect do |p| %>
              <div class="card rounded-0" style="max-width: 18rem;">
                <div class="card-header bg-primary text-white">
                  <h4><a class="text-white" href="/petitions/<%= p.id %>" >Type: <%= p.petition_type %></a></h4>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%= p.student.last_name %>, <%= p.student.first_name  %></h5>
                  <p class="card-text"><%= p.content %></p>
                </div>
              </div>
          <% end %>
      </div>
    </div>
    </div>
  </div>
  <div class="row mt-5 mb-3">
    <div class="col-1"></div>
    <div class="col-1"></div>
  </div>
</div>
<% else %>
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
      You must be logged in to view the contents of this page!
    </div>
  </div>
<% end %>
